<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">

  <servers>
    <server>
      <id>github</id>
      <username>mzm2018</username>
      <password>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</password>
    </server>
  </servers>
</settings>
